* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: #636b60; }
  *:focus {
    outline: 0;
  }

  body, html, #root, #root>div {
      height: 100%;
  }


body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.8rem;
  margin: 0;
  padding: 0;

}

hr {
  border: none;
  height: 1px;
  background: #636b60;
  margin: 2.5rem 0; }

::placeholder {
  color: #636b60; }

img {
  border: 0;
  display: block; }

svg:not(:root) {
  overflow: hidden;
}


.stckbg{
  background: url(img/stockback.jpeg);

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginbutt{
  position: absolute;
  width: 240px;
  height: 280px;
  border-radius: 45px;
  padding-left: 10px;
  padding-top: 6px;
  bottom: 80px;
  right: 400px;
}

a {
  text-decoration: none;
}

.buttonHolder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.buttonHolder div {
  background-color: grey;
  color:#636b60;
  margin: 4px;
  padding: 10px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 18px;
  border-radius: 24px;
}

.buttonHolder a {
  text-decoration: none;
  color:white;
}

.margin-top-0 {
  margin-top: 0; }

.margin-bottom-15 {
  margin-bottom: 15px; }

.margin-right-15 {
  margin-right: 15px; }

.padding-30 {
  padding: 30px; }

input, textarea {
  width: 100%;
  border: 2px solid #eaeaea;
  border-radius: .3rem;
  color: #636b60;
  padding: 1rem 1rem;
  font-size: 1rem; }
  input:focus, textarea:focus {
    border-color: #636b60; }

textarea {
  line-height: 1.8rem;
  min-width: 100%;
  max-width: 100%; }



.userContainer{
  margin: auto;
  max-width: 800px;
}

.userHeader, .userHeaderRow1, .userHeaderRow2  {
  display: flex;
}

.userHeader {
 flex-direction: column;
}

.userHeaderRow1 {
  flex-direction: row;
  justify-content: space-between;
}

.userHeaderRow2 {
  flex-direction: row;
  justify-content: flex-start;
}

.infoHeader {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}

.userHeaderRow2 div {
  background-color: grey;
  color:#636B60;  
  margin: 4px;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12px;
  border-radius: 20px;
}

div.badgeGreen {
  background-color: #92D169;
}

div.badgeBlue {
  background-color: #3C9BB4;
}

div.infoContainer {
  margin-bottom:40px;
  padding:20px;
  border-bottom: 4px solid #C6F1A9;
  background-color: black;
  color: #636B60;
  box-shadow: 0px 4px 10px silver;
}

.userContributions {

}

.realLogo {

}

button, .btn, submit {
  border: none;
  background: #636b60;
  border-radius: .3rem;
  color: #636b60;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  background: linear-gradient(135deg, white 10%, white 40%); }
  button:hover, .btn:hover, submit:hover {
    background: linear-gradient(135deg, white 40%, white  40%); }
  button.secondary, .btn.secondary, submit.secondary {
    background: transparent;
    padding: 3.9rem 1.4rem;
    border: 40px solid transparent; 
    color: #636b60; }

.btn.btn-gray {
    border: 2px solid #636B60;
    border-radius: 4em;
    background: #636b60;
    color: #636b60;
    padding: 0 2em;
    line-height: 3.6em; }

.cards {
  display: inline;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 30px;
  padding: 55px 30px; }

@keyframes heart {
  0% {
    transform: scale(1) rotate(-45deg); }
  35% {
    transform: scale(1.4) rotate(-45deg); }
  100% {
    transform: scale(1) rotate(-45deg); } }

.card-item {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 3px 18px rgba(112, 119, 136, 0.15);
  overflow: hidden; }
  .card-item p {
    color: #6b808f; }
  .card-item img.center {
    margin: 0 auto;
    align-self: center;
    justify-self: center; }
  .card-item .card-footer {
    background: #f7fafc;
    border-top: 1px solid #dde7f1;
    border-bottom: 1px solid #dde7f1;
    color: #b1bfc8; }
  .card-item .detailAvatar {
    background: url(img/icons/avatar.svg); }
  .card-item .detailHeart {
    background: url(img/icons/heart.svg); }
  .card-item .detailTag {
    background: url(img/icons/tag.svg); }
  .card-item .iconEdit {
    background: url(img/icons/edit.svg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 25px;
    cursor: pointer;
    display: block; }
  .card-item .iconDelete {
    background: url(img/icons/delete.svg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 25px;
    cursor: pointer;
    display: block; }
  .card-item .detailAvatar, .card-item .detailHeart, .card-item .detailTag, .card-item .iconEdit, .card-item .iconDelete {
    background-repeat: no-repeat;
    background-position: left center;
    width: auto;
    height: 25px;
    padding: 0px 0 0 24px; }
  .card-item .heart {
    background-color: #636B60;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin: 0 5px;
    transform: rotate(-45deg);
    width: 15px;
    position: absolute;
    top: 30px;
    right: 30px; }
    .card-item .heart:before, .card-item .heart:after {
      content: "";
      background-color: #636B60;
      border-radius: 50%;
      height: 15px;
      position: absolute;
      width: 15px; }
    .card-item .heart:before {
      top: -7px;
      left: 0; }
    .card-item .heart:after {
      left: 7px;
      top: 0; }
  .card-item.liked .heart {
    animation-duration: .6s;
    animation-name: heart;
    background-color: #f35ee7; }
    .card-item.liked .heart:before, .card-item.liked .heart:after {
      background-color: #f35ee7; }

.grid-2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0px;
  padding: 1rem 10rem; }

.grid-3 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 0px;
  padding: 1rem 2rem; }

.layoutStandard .createContainer {
  transition: all .15s ease-out;
  max-height: 0;
  overflow: hidden;
  padding: 0; }

.layoutStandard .toggleCreate {
  z-index: 99;
  position: absolute;
  left: 75px;
  margin-top: -12px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #141C47;
  cursor: pointer;
  border: 3px solid #646852 ;
  background: #FEFFEF; }
  .layoutStandard .toggleCreate:hover {
    background: #FDF6D2 0%, }
  .layoutStandard .toggleCreate:before, .layoutStandard .toggleCreate:after {
    display: block;
    background: #3D3E3D;
    height: 3px;
    width: 30px;
    position: absolute;
    left: 13px;
    top: 26px;
    content: ""; }
  .layoutStandard .toggleCreate:after {
    transform: rotate(90deg); }

.layoutStandard.createOpen .createContainer {
  max-height: 800px;
  overflow: visible; }
  .layoutStandard.createOpen .createContainer .card-item {
    padding: 55px 30px; }

.layoutStandard.createOpen .toggleCreate:after {
  opacity: 0; }

.layoutStandard .logo {
  background: #636B60;
  background-position: 30px center;
  background-repeat: no-repeat;
  height: 80px;
  color: #636B60;
  padding: 26px 20px 0 80px;
  font-size: 1.6rem; }

.layoutStandard .main {
  min-height: 100vh;
  grid-area: main;
  background: #636B60;
  padding-top: 20px; }
